<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".infrastructure.app.WishlifyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wishlify.SplashScreen">
        <activity
            android:name=".WishlifyActivity"
            android:exported="true"
            android:theme="@style/Theme.Wishlify">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <!-- Single file share -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="video/*" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.wishlify.com" />

                <!-- TODO: Links to access  -->



            </intent-filter>
        </activity>
    </application>

</manifest>